@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Noto+Sans+KR:400,700,900&display=swap');
@font-face { font-family: 'S-CoreDream-8Heavy'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: normal; font-style: normal; }
/*
	폰트 사용 방법
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Do Hyeon', sans-serif;
*/